version: "3"

services:
  front:
    ports:
      - "80:80"
  db:
    volumes:
      - "/var/lib/mysql:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports: 
      - "3306:3306"

